.pubitem {
  /* margin: 2em 0;
  line-height: 1em; */
  margin-bottom: 1em;
}

.pubtitle {
  /* margin-bottom: .5em;
  line-height: 1.2em; */
  font-weight: bold;
}

.pubinfo {
  font-size: 75%;
  /* margin-bottom: .75em; */
}

.pubauthors{
  font-size: 75%;
  font-style: italic;
  /* margin-bottom: .75em; */
}

.publinks {
  font-size: 75%;
   /*margin-bottom: 1em;*/ 
}

